<div class="container mt-4" style="background: linear-gradient(to right, black, orange); color: orange;">
  <h2>Workout Sets List</h2>

  <div *ngIf="workoutSets.length > 0 else noWorkoutSets">
    <ul class="list-group">
      <li *ngFor="let workoutSet of workoutSets" class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="col">
            <strong>Exercise Name:</strong> {{ workoutSet.exerciseName }}
          </div>
          <div class="col">
            <strong>Rep Count:</strong> {{ workoutSet.repCount }}
          </div>
          <div class="col">
            <strong>Weight:</strong> {{ workoutSet.weight }} {{ workoutSet.weightUnit }}
          </div>
          <div class="col">
            <strong>Set Count:</strong> {{ workoutSet.workoutSetCount }}
          </div>
          <div class="col">
            <strong>Sort Order:</strong> {{ workoutSet.sortOrder }}
          </div>
        </div>
      </li>
    </ul>
    <!-- Button outside the loop -->
    <button (click)="navigateToExercises()" class="btn btn-primary">Add Exercise</button>
  </div>

  <ng-template #noWorkoutSets>
    <p>No workout sets available for this workout plan.</p>
  </ng-template>
</div>
