<div
  class="container mt-4"
  style="background: linear-gradient(to right, black, orange); color: orange"
>
  <h2>Workout Sets List</h2>

  <div *ngIf="workoutSets.length > 0; else noWorkoutSets">
    <ul class="list-group">
      <li *ngFor="let workoutSet of workoutSets" class="list-group-item">
        <div class="d-flex justify-content-between">
          <div class="col">
            <strong>{{ workoutSet.exerciseName }}</strong> 
          </div>
          <div class="col">
            <strong></strong>
          </div>
          <div class="col">
            <strong>Reps:</strong> {{ workoutSet.repCount }}
          </div>
          <div class="col">
            <strong>Weight:</strong> {{ workoutSet.weight }}
            {{ workoutSet.weightUnit }}
          </div>
          <div class="col">
            <strong>Set Count:</strong> {{ workoutSet.workoutSetCount }}
          </div>
        </div>
        <button (click)="editWorkoutSet(workoutSet)" class="btn btn-warning">
          Edit
        </button>
        <button (click)="deleteWorkoutSet(workoutSet.workoutSetId)" class="btn btn-danger">
          Delete
        </button>
      </li>
    </ul>
    <button (click)="navigateToExercises()" class="btn btn-success">
      Add Exercise
    </button>
  </div>

  <ng-template #noWorkoutSets>
    <p>No workout sets available for this workout plan.</p>
    <button (click)="navigateToExercises()" class="btn btn-success">
      Add Exercise
    </button>
  </ng-template>
</div>
