    <div class="container mt-4">
        <h2 style="color: orange; font-size: 18px; margin-top: 20px;">Workout Plans List</h2>

        <div *ngIf="(workoutPlans$ | async) as workoutPlans; else noWorkoutPlans">
            <div *ngIf="workoutPlans.length > 0">
            <ul class="list-group">
                <li *ngFor="let workoutPlan of workoutPlans" class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <strong>Workout Plan Name:</strong> {{ workoutPlan.workoutPlanName }}
                        </div>
                        <div class="col">
                            <strong>Selected Weekdays:</strong> {{ getWeekdays(workoutPlan.weekDay) }}
                        </div>
                        <div class="col">
                            <strong>Created At:</strong> {{ workoutPlan.createdAt | date }}
                        </div>
                        <div class="col">
                            <strong>Updated At:</strong> {{ workoutPlan.updatedAt | date }}
                        </div>
                        <div class="col">
                            <button (click)="editWorkoutPlan(workoutPlan.workoutPlanId)" class="btn btn-primary">Edit</button>
                        </div>
                        <div class="col">
                            <button (click)="showDetails(workoutPlan)" class="btn btn-primary">Show Details</button>
                        </div>
                        <div class="col">
                            <button (click)="navigateToWorkoutSets(workoutPlan.workoutPlanId)" class="btn btn-primary">View Workout Sets</button>
                        </div>
                        <div class="col">
                            <button (click)="deleteWorkoutPlan(workoutPlan.workoutPlanId)" class="btn btn-primary">Delete</button>
                        </div>
                        <app-workout-plan-details *ngIf="selectedWorkoutPlan === workoutPlan" [workoutPlan]="workoutPlan"></app-workout-plan-details>
                    </div>
                </li>
            </ul>
        </div>
        

        <ng-template #noWorkoutPlans>
            <p>No workout plans available for this user.</p>
        </ng-template>
        <app-workout-plan-create></app-workout-plan-create>
    </div>